.tree-container .ant-tree.ant-tree-block-node
  .ant-tree-list-holder-inner
  .ant-tree-node-content-wrapper {
  flex: unset !important;
}

.control-container {
  border-width: 0;
}

.tree-container.tree-container
  .ant-tree.ant-tree-directory
  .ant-tree-treenode-selected::before {
  background-color: #edebe9 !important;
}

.tree-container .ant-tree.ant-tree-directory .ant-tree-treenode:hover:before {
  background-color: #edebe9 !important;
}

.tree-container .ant-tree .ant-tree-treenode {
  padding: 0 0 7px 0;
}

.tree-container .btn-location-wrap {
  text-align: left;
  margin-bottom: 20px;
}

.tree-container .btn-location-wrap .btn-data.left {
  border-right: 0;
  border-radius: 2px 0 0 2px;
}

.tree-container .btn-location-wrap .btn-data.right {
  border-radius: 0 2px 2px 0;
}

.tree-container .btn-location-wrap .btn-data.active {
  background-color: rgb(34, 102, 227);
  color: white;
  border: rgb(34, 102, 227);
}

.tree-container .ant-tree-title {
  color: #616161 !important;
  font-size: 14px;
}

.tree-container
  .ant-tree.ant-tree-directory
  .ant-tree-treenode-selected
  .ant-tree-switcher {
  color: #323130;
}

.tree-container .drop-target{
  background-color: #e3ebf2 !important;
}

.tree-container .ant-tree-drop-indicator {
  display: none !important;
}

.tree-container .tree-title {
  text-align: left;
  font-size: 20px;
  color: #2E2E2E;
  font-weight: 600;
}

.tree-container .ant-tree-show-line .ant-tree-indent-unit:before {
  display: none;
}

.tree-container .ant-tree-switcher.ant-tree-switcher-noop {
  display: none;
}

.tree-container .ant-tree-draggable-icon {
  line-height: 28px;
}

.tree-container .btn-data {
  background-color: #F8F8F8;
  border: 0.5px solid #E6E6E6;
  border-radius: 2px;
  height: 30px;
  padding: 0 5px;
  cursor: pointer;
}

.tree-container .btn-data .icon{
  width: 12px;
  margin-right: 5px;
}

.wi-template-div-btn {
   display: flex;
   margin-top: 10px;
   margin-left: 290px;
}

.wi-template-save-btn { 
  margin-left: 5px;
width: 71px;
height: 35px;
padding: 10px, 20px, 10px, 20px;
border-radius: 5px;
gap: 10px

}
.wi-template-csl-btn { 
  width: 83px;
height: 35px;
padding: 10px, 20px, 10px, 20px;
border-radius: 5px;
border: 1px;
gap: 10px;
  }